@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
/*#F1D2BB #DA7A2D*/
:root{
    --color-nav:#fff;
    --color-backgroud:#fff;
    --color-primary:#d97b2e;
    --color-secudary: #f1d3bb;
    --color-text: rgb(218, 124, 47);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-backgroud);
    font-family: 'Josefin Sans', sans-serif;
}

a{
    text-decoration: none;
    color: var(--color-text);
}
.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1 {
    text-transform: uppercase;
}
p{
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;

    width: 100%;
}